<h1> Eat, Drink & Do in <%=@area[:name]%> </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">RikiCount</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><% for location in @locations %>
    <p><a href="/locations/<%= location[:id] %>"><%= location[:name] %></a></p>
<% end %></td>
      <td><% for location in @locations %>
    <p><a href="/locations/<%= location[:id] %>"> <%= location [:description] %></a></p>
<% end %></td>
      <td>82%</td>
      <td>Sample text sample text sample text</td>
    </tr>
  </tbody>
</table>